<div class="page-contianier">
  <div class="buttons">
    <div class="button" (click)="changeType(0)">
      <span>按时间显示</span>
    </div>
    <div class="button" (click)="changeType(1)">
      <span>按类别显示</span>
    </div>
  </div>
  <div class="picture-list" *ngIf="type === 0">
    <div class="picture-item" *ngFor="let item of list">
      <div class="img">
        <img src="{{item.picture}}" alt="{{item.picture}}">
      </div>
      <div class="picture-info">
        <span class="type">{{item.type.name}}</span> ||
        <span class="name">{{item.name}}</span>
        <p class="time">{{(item.created_at | date:'yyyy-MM-dd HH:mm:ss') || '未知'}}</p>
      </div>
    </div>
  </div>
  <div cdkDropListGroup *ngIf="type === 1">
    <div class="example-container" *ngFor="let item of typeList">
      <h2>{{item.name}}</h2>

      <div
        cdkDropList
        [cdkDropListData]="item.data"
        class="example-list"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        <div class="picture-item" *ngFor="let picture of item.data" cdkDrag>
          <div class="img">
            <img src="{{picture.picture}}" alt="{{picture.picture}}">
          </div>
          <div class="picture-info">
            <span class="type">{{picture.type.name}}</span> ||
            <span class="name">{{picture.name}}</span>
            <p class="time">{{(picture.created_at | date:'yyyy-MM-dd HH:mm:ss') || '未知'}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

